<!DOCTYPE html>
<html>
<head>
    <title>Student Marks</title>
<style>
body{background-image:source url("/students_app/static/Images/1.jpg");
          background-color: orange;}
</style>
</head>
  <body>

    <h1 style = "color:blue; font-size:80px;"><center>Student Marks</center></h1>
    <h2>  <a href="http://localhost:8000/student_count/">1.Faculty with more students scoring above 90%.</a>  </h2>
    <h2>  <a href="http://localhost:8000/heighest/">2.Faculty with highest pass percentage.</a>  </h2>
    <h2>  <a href="http://localhost:8000/least_faculty/">3.Faculty with least pass percentage.</a>  </h2>

    <h2>  <a href="http://localhost:8000/top_student/">4.Best overall Student.</a>  </h2>

    <h2>  <a href="http://localhost:8000/least_student/">5.Student with least total.</a>  </h2>

    <h2>  <a href="http://localhost:8000/maximum/">6.Best Student in Mathematics.</a>  </h2>
  
    <h2>  <a href="http://localhost:8000/average/">7.Subject Averages.</a>  </h2>

  </body>
</html>
